/***********************Home****************/
.hero-txt{
  position: absolute;
  text-align: center;
  top: 180px;
  left: 370px;
  color: white;
}
.hero-img{
  background-image: url('https://i.imgur.com/ZO5IISI.jpg');
  background-position: center;
  height:800px;
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero-img p{
  font-family: 'Noto Sans HK', sans-serif;
}
/**********************About us**************/
.about,.dos{
  text-align: center;
}
.serv-img{
  background-image: url('https://i.imgur.com/OQS2EfI.jpg');
  height: 50vh;
  background-repeat: no-repeat;
  padding-top: 100px;
}
.about p{
  font-family: 'Noto Sans HK', sans-serif;
}
.serv-txt{
  text-align: center;
  color: white;
}
.dos{
  padding-top: 50px;
}
body{
  margin: 0;
  border: none;
}
/*********************Contact*****************/
.contact{
  text-align: center;
}
#name,#email{
  width: 500px;
  background: transparent;
}
.contact-img{
  background-image: url('https://i.imgur.com/GCZYYig.jpg');
  background-position: center;
  height:500px;
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
}
/*************What we do***************/
#message{
  width: 1200px;
  padding-bottom: 300px;
  background: transparent;
}
#submit{
width: 200px;
border: none;
background: yellow;
}
.dev-showing,.prod-showing,.des-showing{
  display: none;
}
/*************Portfolio***************/
h1{
  font-family: 'Noto Sans HK', sans-serif;
}
.contact-txt h1{
  color: white;
}
#message,#email,#name{
  color: white;
  font-family: 'Noto Sans HK', sans-serif;
}
.portfolio{
  text-align: center;
  padding: 85px;
  justify-content: space-around;
}
/*****************Services*********************/
.services p{
  font-family: 'Noto Sans HK', sans-serif;
}
/*****************portfolio*************/
.img-title {
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 95%;
    text-align: center;
    padding-left: 5px;
    top: -25%;
    display: none;


}
.img-title p {
        position: absolute;
        color: white;
        top: 30%;
        font-weight:bold;
        width: 97%;
        text-align: center;
        border: 5px solid white;
        height: 90%;
        padding: 30px;
        padding-top: 45px;
        font-size: 20px;

}
/************************Social icons*************/
.social-icons p{
  font-family: 'Noto Sans HK', sans-serif;
}
